<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0.0</key>
	<array>
		<string>First release</string>
	</array>
	<key>1.1.0</key>
	<array>
		<string>1、修改主界面UI</string>
		<string>2、修改登录流程</string>
	</array>
	<key>1.1.1</key>
	<array>
		<string>1、添加检测更新</string>
		<string>2、我要借款流程渠道代码自定义</string>
	</array>
</dict>
</plist>
